body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("../images/sunSet.jpg");
  background-size: cover;
}

h2 {
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.clock {
  display: flex;
  font-size: 1rem;
}

.clock div {
  margin: 0.55rem;
  position: relative;
}

.clock div span {
  width: 100px;
  height: 80px;
  background: hsl(254, 55%, 6%);
  opacity: 0.8;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  text-shadow: 2px 2px 4px rgba(38, 34, 34, 0.5);
}

.clock .text {
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.8;
}

.clock #am__pm {
  width: 60px;
  height: 30px;
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  position: absolute;
  font-size: 20px;
}