body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("../images/sunSet.jpg");
  background-size: cover;
}

h2 {
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.clock {
  display: flex;
  font-size: 1rem;
}

.clock div {
  margin: 0.55rem;
}

.clock div span {
  max-width: 100px;
  max-height: 80px;
  background: hsl(254, 55%, 6%);
  opacity: 0.8;
  color: #fff;
}